/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2f7195;
    color: black;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; /* Make sure the header is always on top */
}

/* Gaya untuk logo */
.logooo img {
    position: relative;
    height: 130px; /* Atur ukuran tinggi logo */
    width: auto;  /* Lebar mengikuti proporsi tinggi */
    margin-right: 20px; /* Spasi antara logo dan teks */
    margin-top: 10px; /* Mengangkat gambar ke atas */
}

/* Main content padding to avoid overlap with fixed header */
main {
    padding-top: 80px; /* Adjust this based on the height of the fixed header */
}

/* Live chat styles */
.live-chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 5;
}

.chat-header {
    background-color: #2f7195;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-body {
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

#userInput {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #2f7195;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1b465d;
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 600px) {
    /* Header: stack navigation links vertically in mobile view */
    header {
        padding: 10px;
    }
